@tailwind base;
@tailwind components;
@tailwind utilities;

.inner-wrapper {
  max-width: 81vw;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e0ffff;
  scroll-behavior: smooth;
}

p {
  font-family: 'Raleway', sans-serif;
}

main h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #2b3d4f;
  margin: 8px 0;
}

.orange-text {
  color: #e89e1d;
}

.orange-bg {
  background-color: #e89e1d;
  color: black;
}
.gold-bg-hover {
  transition: 1s;
}
.gold-bg-hover:hover {
  color: black;
  transition: 1s;
  background-color: #efd81d;
}
.hover-orange:hover {
  color: #e89e1d;
}

#tldr:hover #tldr_title {
  color: black !important;
  transition: 1s;
}
#tldr_title {
  transition: 1s;
}
.blue-text {
  color: #2b3d4f;
}

.blue-bg {
  color: white;
  background-color: #2b3d4f;
}
.hover-blue-text:hover {
  color: #2b3d4f;
}

.heading-text {
  font-family: 'Montserrat', sans-serif;
}
.sub-heading-text {
  font-family: 'Roboto', sans-serif;
}
.text {
  font-family: 'Raleway', sans-serif;
}

.lightblue {
  background-color: #2980b9;
}

.lightblue-hover:hover {
  background-color: #2980b9;
  color: white;
}
.project {
  border-radius: 10px;
}

.lightgreen:hover {
  background-color: #1abc9c;
}
.bluewood {
  background-color: #2b3d4f;
}

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a {
  position: absolute;
  top: -3em;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  font-weight: bold;
}
.skip-links a:focus {
  top: 0;
}

.list-circle {
  list-style-type: none;
}

.list-circle li::before {
  content: '•';
  color: white;
  display: inline-block;
  font-size: 2em;
  margin-right: 10px;
  transition: 1s;
}

#tldr:hover li::before {
  color: black;
  transition: 1s;
}

.group:hover .bg-gradient-to-br {
  transform: rotate3d(0, 1, 0, 180deg);
}
