@tailwind base;
@tailwind components;
@tailwind utilities;

.inner-wrapper {
    max-width: 81vw;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e0ffff;
    scroll-behavior: smooth;
}


p { 
    font-family: 'Raleway', sans-serif;
}

main h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #2B3D4F;
    margin: 8px 0;
}

.orange-text {
    color: #E89E1D;
}

.orange-bg {
    background-color: #E89E1D;
    color: black;
}
.gold-bg-hover {
    transition: 1s;
}
.gold-bg-hover:hover {
    color: black;
    transition: 1s;
    background-color: #efd81d;
}

.hover-orange:hover {
    color: #E89E1D;
}

.blue-text { 
    color: #2B3D4F;
}

.blue-bg {
    color: white;
    background-color: #2B3D4F;
}
.hover-blue-text:hover { 
    color: #2B3D4F;
}

.heading-text {
    font-family: 'Montserrat', sans-serif;
}
.sub-heading-text {
    font-family: 'Roboto', sans-serif;
}
.text {
    font-family: 'Raleway', sans-serif;
}


.lightblue {
    background-color: #2980b9;
}

.lightblue-hover:hover {
    background-color: #2980b9;
    color: white;
}
.project {
    border-radius: 10px;
}

.lightgreen:hover {
    background-color: #1abc9c;
}
.bluewood {
    background-color: #2b3d4f;
}